.topNav {
    /* background-color: #f4f3f3; */
    /* overflow: hidden; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  /* Style the links inside the navigation bar */
/* .topNav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
} */

.headerLabel{
    font-family:'Arial';
    color: black;
    text-shadow: 2px 2px rgb(241, 239, 239);
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
    /*

.topNav img {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
} */
  
  /* Change the color of links on hover */
/* .topNav a:hover {
    background-color: #ddd;
    color: black;
} */
  
  /* Add a color to the active/current link */
/* .topNav a.active {
    background-color: #04AA6D;
    color: white;
} */

.mainButtons{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.addButton{
    background-color: #04AA6D;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    box-shadow: 4px 4px #ebebeb;
    font-size: 15px;
    font-family:'Arial';

}

.habitInput{
    height: 50px;
    width: 370px;
    border: 1px solid #ebebeb;
    border-radius: 7px;
    cursor: pointer;  
    padding-left: 15px;
    box-shadow: 4px 4px #ebebeb;

}

.resetButton{
    background-color: red;
    height: 50px;
    width: 200px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 4px 4px #ebebeb;
    font-size: 15px;
    font-family:'Arial';

}

.dateDisplay{
    margin-top: 30px;
}

.dateText{
    font-size: 20px;
    display: flex;
    color: palevioletred;
    font-weight: bold;
    justify-content: center;
}

.habitsContainer{
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 30px;
    overflow: visible;
    flex-wrap: wrap;
}


.habitNote{
    height: 209px;
    width: 260px;
    box-shadow: 4px 4px #ebeaea;
    border: 2px solid #ebeaea;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 20px; 
}

.habitHeading{
    background-color: #ffc0d5;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
    padding: 5px;
    font-size: 15px;
    font-family:'Arial';
}

.buttonClass{
    display: flex;
    justify-content: center;
    margin-top: 30%;
}

.markButton{
    height: 45px;
    width: 165px;
    color: green;
    background-color: white;
    border: 3px solid #04AA6D;
    border-radius: 3px;
    font-size: 15px;
    font-family:'Arial';
}

.cButton{
    height: 45px;
    width: 165px;
    color: white;
    background-color: #04AA6D;
    border: 3px solid #04AA6D;
    border-radius: 3px;
}

.progress{
    
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family:'Arial';
}



.progressBarComplete{
 margin-left: 20px;
}

.progressBarIncomplete{
    margin-left: 20px;

}


.completeBox{
    background-color: #04AA6D;
    height: 40px;
    width: 40px;
    border-radius: 15px;

}

.incompleteBox{
    background-color: white;
    height: 40px;
    width: 40px;
    border: 2px solid #04AA6D;
    border-radius: 15px;
}
