<!-- <p>main-page works!</p> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
</head>
<body >
    <!-- Top Nav -->
     <!-- TODO: header fix -->
    <div class="topNav">
        <h4 class="headerLabel">Habit Tracker</h4>
    </div>

    <!-- Add Habit and Reset Habit Buttons -->
    <div class="mainButtons">
        <button class="addButton" (click)="addHabit()">Add Habit</button>
        <input placeholder="Enter Habit here..." (click)="inputFunction()" class="habitInput" id="habitInput">
        <button class="resetButton" (click)="resetHabit()">Reset Habit</button>
    </div>
    <span class="dateText" style="margin-top: 20px;" *ngIf="emptyError == true"> Error: no value entered!</span>

    <!-- Date -->
    <div *ngIf="displayNotes==true" class="dateDisplay">
        <span class="dateText"> {{todaysDate | date:'dd.MM.yyyy ':'+0530'}} </span>
    </div>
    <span class="dateText" style="margin-top: 20px;" *ngIf="alreadyCompletedError == true"> Error: this habit is already completed!</span>

    <!-- habit notes -->
     <div *ngIf="displayNotes==true" class="habitsContainer">
        <ng-container  *ngFor="let habit of habitList">
            <div class="habitNote">
                <div class="habitHeading">
                    <span class="habitName"> {{ habit[0] }}</span>
                    <!-- <img src="./assets/images/user.png"> -->
                </div>
                
                <div class="buttonClass">
                    <button *ngIf="habit[1]==true" class="cButton" id="markButton" (click)="markComplete(habit[0], habit[1])">Completed!</button>
                    <button *ngIf="habit[1]==false || habit[1]== null" class="markButton" id="markButton" (click)="markComplete(habit[0], habit[1])">Mark as Complete</button>
                </div>
             </div>
        </ng-container>

     </div>

     <div *ngIf="displayNotes==true" class="progress">
     <span *ngIf="displayNotes==true">Today's Progress:   {{((this.completeList.length / this.habitList.length)*100).toFixed(2)}} %</span>

        <div *ngFor="let c of completeList" class="progressBarComplete" id="progressBarC">
            <div class="completeBox"></div>
        </div>
        <div *ngFor="let i of fakeArray" class="progressBarIncomplete" id="progressBarI">
            <div class="incompleteBox"></div>
        </div>                      
        <!-- <span>{{ completeList}}</span> -->
     </div>
    
<!-- Todo: all font size+ style fix -->
<!-- TODO: color pallete fix -->
<!-- Todo: make progress bar -->
<!-- Todo: make progress amount not more than 100 -->

     
</body>
</html>